.list,
.card {
    font-family: Arial;
    box-shadow: none;
    border-radius: none;
    margin: 0;
    padding: 0;

    .label {
        color: rgb(255, 255, 255) !important;
        font-size: 18px !important;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .pan,
    .name,
    .expiration-date,
    .security-code,
    .error {
        color: rgb(255, 255, 255) !important;
        font-size: 16px;
        letter-spacing: normal;
    }

    .copy-icon {
        height: 20px !important;
        width: 20px !important;
        z-index: 9000;
    }

    .error {
        margin: 0 0 auto;
    }
}